# NAME : Nkrumah Gideon Hagan
# ID   : 10973840
# DEPARTMENT : AGRICULTURAL ENGINEERING

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

data.info()

- Calculating mean values for each column

In [6]:

mean_c1 = data['ID'].mean().round(2)
mean_c2 = data['fixed acidity'].mean().round(2)
mean_c3 = data['volatile acidity'].mean().round(2)
mean_c4 = data['citric acid'].mean().round(2)
mean_c5 = data['residual sugar'].mean().round(2)
mean_c6 = data['chlorides'].mean().round(2)
mean_c7 = data['free sulfur dioxide'].mean().round(2)
mean_c8 = data['total sulfur dioxide'].mean().round(2)
mean_c9 = data['density'].mean().round(2)
mean_c10 = data['pH'].mean().round(2)
mean_c11 = data['sulphates'].mean().round(2)
mean_c12 = data['alcohol'].mean().round(2)
mean_c13 = data['quality'].mean().round(2)

- Replacing the null values in each column by the MEAN VALUES

In [7]:
data['ID'] = data['ID'].fillna(mean_c1)
data['fixed acidity'] = data['fixed acidity'].fillna(mean_c2)
data['volatile acidity'] = data['volatile acidity'].fillna(mean_c3)
data['citric acid'] = data['citric acid'].fillna(mean_c4)
data['residual sugar'] = data['residual sugar'].fillna(mean_c5)
data['chlorides'] = data['chlorides'].fillna(mean_c6)
data['free sulfur dioxide'] = data['free sulfur dioxide'].fillna(mean_c7)
data['total sulfur dioxide'] = data['total sulfur dioxide'].fillna(mean_c8)
data['density'] = data['density'].fillna(mean_c9)
data['pH'] = data['pH'].fillna(mean_c10)
data['sulphates'] = data['sulphates'].fillna(mean_c11)
data['alcohol'] = data['alcohol'].fillna(mean_c12)
data['quality'] = data['quality'].fillna(mean_c13)

In [8]:
data

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.31,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed acidity         1601 non-null   float64
 2   volatile acidity      1601 non-null   float64
 3   citric acid           1601 non-null   float64
 4   residual sugar        1601 non-null   float64
 5   chlorides             1601 non-null   float64
 6   free sulfur dioxide   1601 non-null   float64
 7   total sulfur dioxide  1601 non-null   float64
 8   density               1601 non-null   float64
 9   pH                    1601 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1601 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.7 KB

In [10]:
data = data.drop_duplicates()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed acidity         1601 non-null   float64
 2   volatile acidity      1601 non-null   float64
 3   citric acid           1601 non-null   float64
 4   residual sugar        1601 non-null   float64
 5   chlorides             1601 non-null   float64
 6   free sulfur dioxide   1601 non-null   float64
 7   total sulfur dioxide  1601 non-null   float64
 8   density               1601 non-null   float64
 9   pH                    1601 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1601 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 175.1 KB

In [12]:
data.describe()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000
mean,801.000000,8.319875,0.527742,0.271174,2.538445,0.087492,15.886877,46.520000,0.996748,3.311106,0.658220,10.423204,5.636252
std,462.313206,1.739495,0.178981,0.194684,1.409138,0.047032,10.455218,32.967416,0.001888,0.154290,0.169471,1.065495,0.807116
min,1.000000,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,401.000000,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,801.000000,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,1201.000000,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997840,3.400000,0.730000,11.100000,6.000000
max,1601.000000,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [13]:

columns = ['ID', 'fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']
for column in columns:
    print(data[column].describe())
    print('\n')

count    1601.000000
mean      801.000000
std       462.313206
min         1.000000
25%       401.000000
50%       801.000000
75%      1201.000000
max      1601.000000
Name: ID, dtype: float64


count    1601.000000
mean        8.319875
std         1.739495
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed acidity, dtype: float64


count    1601.000000
mean        0.527742
std         0.178981
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64


count    1601.000000
mean        0.271174
std         0.194684
min         0.000000
25%         0.090000
50%         0.260000
75%         0.420000
max         1.000000
Name: citric acid, dtype: float64


count    1601.000000
mean        2.538445
std         1.409138
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.500000
Name: residual sugar, dtype: float64


count    1601.000000
mean        0.087492
std         0.047032
min         0.012000
25%         0.070000
50%         0.079000
75%         0.090000
max         0.611000
Name: chlorides, dtype: float64


count    1601.000000
mean       15.886877
std        10.455218
min         1.000000
25%         7.000000
50%        14.000000
75%        21.000000
max        72.000000
Name: free sulfur dioxide, dtype: float64


count    1601.000000
mean       46.520000
std        32.967416
min         6.000000
25%        22.000000
50%        38.000000
75%        62.000000
max       289.000000
Name: total sulfur dioxide, dtype: float64


count    1601.000000
mean        0.996748
std         0.001888
min         0.990070
25%         0.995600
50%         0.996750
75%         0.997840
max         1.003690
Name: density, dtype: float64


count    1601.000000
mean        3.311106
std         0.154290
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64


count    1601.000000
mean        0.658220
std         0.169471
min         0.330000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64


count    1601.000000
mean       10.423204
std         1.065495
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64


count    1601.000000
mean        5.636252
std         0.807116
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

In [14]:
data.corr().round(2)

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
ID,1.00,-0.27,-0.01,-0.15,-0.03,-0.12,0.09,-0.11,-0.37,0.14,-0.12,0.25,0.07
fixed acidity,-0.27,1.00,-0.26,0.67,0.11,0.09,-0.15,-0.11,0.67,-0.68,0.18,-0.06,0.12
volatile acidity,-0.01,-0.26,1.00,-0.55,0.00,0.06,-0.01,0.08,0.02,0.24,-0.26,-0.20,-0.39
citric acid,-0.15,0.67,-0.55,1.00,0.14,0.20,-0.06,0.04,0.36,-0.54,0.31,0.11,0.23
residual sugar,-0.03,0.11,0.00,0.14,1.00,0.06,0.19,0.20,0.35,-0.09,0.01,0.04,0.01
chlorides,-0.12,0.09,0.06,0.20,0.06,1.00,0.01,0.05,0.20,-0.27,0.37,-0.22,-0.13
free sulfur dioxide,0.09,-0.15,-0.01,-0.06,0.19,0.01,1.00,0.67,-0.02,0.07,0.05,-0.07,-0.05
total sulfur dioxide,-0.11,-0.11,0.08,0.04,0.20,0.05,0.67,1.00,0.07,-0.07,0.04,-0.21,-0.19
density,-0.37,0.67,0.02,0.36,0.35,0.20,-0.02,0.07,1.00,-0.34,0.15,-0.50,-0.17
pH,0.14,-0.68,0.24,-0.54,-0.09,-0.27,0.07,-0.07,-0.34,1.00,-0.20,0.21,-0.06
sulphates,-0.12,0.18,-0.26,0.31,0.01,0.37,0.05,0.04,0.15,-0.20,1.00,0.09,0.25
alcohol,0.25,-0.06,-0.20,0.11,0.04,-0.22,-0.07,-0.21,-0.50,0.21,0.09,1.00,0.48
quality,0.07,0.12,-0.39,0.23,0.01,-0.13,-0.05,-0.19,-0.17,-0.06,0.25,0.48,1.00